[Desktop Entry]
Encoding=UTF-8
Name=Reset Pi
Comment=Resets pi with new challenge
Exec=/home/pi/escape-fridge/admin/bin/reset-pi
Type=Application
Terminal=true
