extends layout

block content
  div(class='row')
    div(id='timer')
      div(class='values')
      div(class='progress', style='width: 200px')
        div(class='progress-bar bg-success', role='progressbar', style='width: 0%')

  div(class='row')
    div(class='camera', class='d-inlne-block', style='width: 320px')
      video(id='video') Video stream not available.
      button(id='startbutton' class='btn btn-success') Take photo

    canvas(id='canvas', class='d-none')

    div(class='output d-inline-block')
      img(id='photo' width='320px')

  div(class='row')
    span
      button(class='btn btn-success') Unlock

block scripts
  script(src='/javascripts/easytimer.min.js')
  script(src='/javascripts/timer.js')
  script.
    const start = #{leaderboard.start};
    setupTimer(start);
  script(src='/javascripts/camera.js')
