extends layout

block content
  div(class='row')
    div(id='timer' class='col mb-5')
      div(class='values')
      div(class='progress' style='width: 200px')
        div(class='progress-bar bg-success' role='progressbar' style='width: 0%')

  div(id='camera' class='row')
    div(class='col')
      video(id='video' style='width: 320px') Video stream not available.
      p Your smile is your password, verify you!
      p Press the IoT button to start

    div(id='countdown' class='col collapse')
      span(class='align-middle')

  div(id='output' class='row collapse')
    div(class='col')
      img(id='photo' width='320px')
      div(id='alert' class='alert collapse mt-2' role='alert')
        p

    div(id='face-data' class='col')
      p

  canvas(id='canvas' class='d-none')

block scripts
  script(src='/javascripts/easytimer.min.js')
  script(src='/javascripts/timer.js')
  script(src='/javascripts/camera.js')
  script(src='/javascripts/countdown.js')
  script(src='/javascripts/ws.js')
  script(src='/javascripts/s3.js')
  script(src='/javascripts/result.js')
  script.
    const start = #{leaderboard.start};
    setupTimer(start);

    const mySmileIsMyPassortVerifyMe = () => {
      countdown()
        .then(() => takePhoto())
        .then(() => s3Upload());
    };

