extends layout

block content
  div(class='row')
    span
      p Welcome to the Bulletproof Escape Fridge Challenge
      p Your goal is to find the problem with the application to unlock your prize
      p The quickest contestant over the day will win a major prize

  div(class='row')
    span
      p Rules
      ul
        li You have 10 minutes to complete the challenge
        li The code is available in the other browser tabs
        li Everything is at the discretion of the judges

  div(class='row')
    span
      form(action='/users/start', method='POST')
        button(class='btn btn-success') Start

